page-home {
    .customersLabel{
        color: #488aff;
        font-size: 2rem;
         margin-left: -23%;  
    }
    .customersCounter{
        color:rgb(31, 160, 31);
        font-size: 10rem;
        margin-left: -13%;
    }
    ion-title{
        text-align: center;
    }
}
